<app-pagenavbar></app-pagenavbar>

<!-- Let's Grow Together Starts -->
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1>Let's Grow Together</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card GrowTogether">
                <div class="image-container">
                    <img src="../../assets/Careers/ExploreOpportunities.jpeg" alt="Career 1" />
                    <h3 class="image-text">Explore Opportunities</h3>
                    <a href="#" class="btn know-more">Know More →</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card GrowTogether">
                <div class="image-container">
                    <img src="../../assets/Careers/EarlyCareersProgram.jpg" alt="Career 2" />
                    <h3 class="image-text">Early Careers Program</h3>
                    <a href="#" class="btn know-more">Know More →</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card GrowTogether">
                <div class="image-container">
                    <img src="../../assets/Careers/AlumniProgram.jpg" alt="Career 3" />
                    <h3 class="image-text">Alumni Program</h3>
                    <a href="#" class="btn know-more">Know More →</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Let's Grow Together Ends -->

<!-- A Place Where Every Engineer Belongs Starts -->
<div class="container">
    <div class="row mt-5 align-items-center">
        <div class="col-lg-6 text-center text-lg-start fade-in">
            <div class="card EngineerCard">
                <img src="../../assets/Careers/EngineerBelongs.jpg" alt="Engineers Belong">
            </div>
        </div>
        <div class="col-lg-6">
            <h1 class="heading fade-in-delay-1">A Place Where Every Engineer Belongs</h1>
            <p class="description fade-in-delay-2">
                <span style="color:#007BFF; font-weight: bold;">UV Software Labs</span> celebrates technology and
                embraces inclusive growth, fostering values that drive a
                people-centric approach. Our commitment is to create a smarter, sustainable, and innovative world.
            </p>
            <p class="description fade-in-delay-3">
                Being part of <span style="color:#007BFF; font-weight: bold;">UV Software Labs</span> means being an
                Engineer at Heart—where passion, curiosity, and a drive
                for
                impact matter more than just education or experience. It’s about truly living and breathing technology.
            </p>
            <p class="description fade-in-delay-4">
                Guided by our strong core value of purpose-driven innovation, life at
                <span style="color:#007BFF; font-weight: bold;">UV Software Labs</span> Labs is about
                delivering transformative results. Join our community of passionate innovators as we engineer the future
                together.
            </p>
        </div>
    </div>
</div>

<!-- A Place Where Every Engineer Belongs Ends -->

<!-- Explore Worldwide Opportunities Starts -->
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <h1>Explore Worldwide Opportunities</h1>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-3">
            <div class="card ExploreWorldwide">
                <img src="../../assets/Careers/TajMahal.jpeg" alt="Taj Mahal" />
                <div class="overlay">
                    <span class="country-name">India</span>
                    <button class="show-more">Know More →</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card ExploreWorldwide">
                <img src="../../assets/Careers/EiffelTower.jpeg" alt="Eiffel Tower" />
                <div class="overlay">
                    <span class="country-name">France</span>
                    <button class="show-more">Know More →</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card ExploreWorldwide">
                <img src="../../assets/Careers/StatueofLiberty.jpeg" alt="Statue of Liberty" />
                <div class="overlay">
                    <span class="country-name">USA</span>
                    <button class="show-more">Know More →</button>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card ExploreWorldwide">
                <img src="../../assets/Careers/BurjKhalifa.jpeg" alt="Burj Khalifa" />
                <div class="overlay">
                    <span class="country-name">UAE</span>
                    <button class="show-more">Know More →</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Explore Worldwide Opportunities -->