<footer class="footer mt">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-about">
                <h5>About Us</h5>
                <p>
                    Lorem ipsum dolor sit amet, consec tetur adipisicing elit, sed do eiusmod tempor incididuntut consec
                    tetur adipisicing elit,Lorem ipsum dolor sit amet.
                </p>
                <h5>Follow Us</h5>
                <div class="footer-social">
                    <a href="#" class="social-icon"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="insta-icon"><i class="fab fa-instagram"></i></a>
                    <a href="#" class="whatup-icon"><i class="fab fa-whatsapp"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="social-icon"><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
            <div class="col-md-2 footer-links">
                <h5>Services</h5>
                <ul>
                    <li><a routerLink="/Home/Ouridentity">Web Design</a></li>
                    <li><a routerLink="/Home/OPDTiming">App Development</a></li>
                    <li><a routerLink="/Home/OurDoctor">Cloud Services</a></li>
                    <li><a routerLink="/Home/Ourinfrastructure">Domain Adn Hosting</a></li>
                    <li><a routerLink="/Home/Bookappointment">Seo Optimization</a></li>
                    <li><a routerLink="/Home/Contactus">Social Media</a></li>
                </ul>
            </div>
            <div class="col-md-2 footer-links">
                <h5>Information</h5>
                <ul>
                    <li><a routerLink="/Home/Ouridentity">About</a></li>
                    <li><a routerLink="/Home/OPDTiming">Pricing</a></li>
                    <li><a routerLink="/Home/OurDoctor">Team</a></li>
                    <li><a routerLink="/Home/Ourinfrastructure">Portfolio</a></li>
                    <li><a routerLink="/Home/Bookappointment">FAQs</a></li>
                    <li><a routerLink="/Home/Contactus">Blogs</a></li>
                    <li><a routerLink="/Home/Contactus">Blog Details</a></li>
                    <li><a routerLink="/Home/Ourinfrastructure">Coming Soon</a></li>
                    <li><a routerLink="/Home/Bookappointment">Terms & Condition</a></li>
                    <li><a routerLink="/Home/Contactus">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-4 footer-contact">
                <h5>Contact Us</h5>
                <p><i class="fas fa-map-marker-alt"></i> Margao, Goa, India - 123456</p>
                <p><i class="fas fa-phone"></i> +1 234 567 890</p>
                <p><i class="fas fa-envelope"></i> official&#64;uvsoftwarelab.in </p>
            </div>
        </div>
        <div class="row footer-bottom">
            <div class="col-md-12 text-center">
                <p>&copy; 2025 UV SOFTWARE LAB. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>