<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="Main-titel mt">Why Choose Us</h1>
                <p class="Main-titel">Lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-4 rightText">
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="service-titel">Experience</h3>
                        <p class="service-titel">Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et
                            dolore magna
                            aliqua.
                        </p>
                    </div>
                    <div class="col-md-2 service-titel">
                        <img src="../../../assets/ChooseUs/Experience.png" alt="Experience" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="service-titel">Products</h3>
                        <p class="service-titel">Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et
                            dolore magna
                            aliqua.
                        </p>
                    </div>
                    <div class="col-md-2 service-titel">
                        <img src="../../../assets/ChooseUs/Products.png" alt="Products" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <h3 class="service-titel">Approach</h3>
                        <p class="service-titel">Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et
                            dolore magna
                            aliqua.
                        </p>
                    </div>
                    <div class="col-md-2 service-titel">
                        <img src="../../../assets/ChooseUs/Approach.png" alt="Approach" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="image-container" #imageContainer>
                    <img src="../../../assets/ChooseUs/MainImage.png" alt="MainImage" #image />
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-2 service-titel">
                        <img src="../../../assets/ChooseUs/Pricing.png" alt="Pricing" />
                    </div>
                    <div class="col-md-10">
                        <h3 class="service-titel">Pricing</h3>
                        <p class="service-titel">Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et
                            dolore magna
                            aliqua.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 service-titel">
                        <img src="../../../assets/ChooseUs/Delivery.png" alt="Delivery" />
                    </div>
                    <div class="col-md-10">
                        <h3 class="service-titel">Delivery</h3>
                        <p class="service-titel">Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et
                            dolore magna
                            aliqua.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 service-titel">
                        <img src="../../../assets/ChooseUs/Support.png" alt="Support" />
                    </div>
                    <div class="col-md-10">
                        <h3 class="service-titel">Support</h3>
                        <p class="service-titel">Ronsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                            et
                            dolore magna
                            aliqua.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>