<div class="container">
    <div class="row mt">
        <div class="col-md-12">
            <h1 class="Main-title">Blogs</h1>
            <p class="Main-title">Lorem ipsum dolor sit amet</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card">
                <img src="../../../assets/Blogs/blog-1.jpg" alt="Blog Image" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">Domain & Hosting</h5>
                    <p class="card-text">How to host a website on any hosting provider?</p>
                    <p class="card-author">William Bla</p>
                    <p class="card-date">Feb 1, 2022</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../../../assets/Blogs/blog-2.jpg" alt="Blog Image" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">Advertisement</h5>
                    <p class="card-text">How to create add on google adwords?</p>
                    <p class="card-author">Jobi Ret</p>
                    <p class="card-date">Oct 5, 2022</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../../../assets/Blogs/blog-3.jpg" alt="Blog Image" class="card-img-top"/>
                <div class="card-body">
                    <h5 class="card-title">Marketing</h5>
                    <p class="card-text">What is digital marketing and why is important?</p>
                    <p class="card-author">Main Dow</p>
                    <p class="card-date">Dec 22, 2022</p>
                </div>
            </div>
        </div>
    </div>
</div>
