.mt {
    margin-top: 100px;
}

h1.Main-title {
    font-size: 2.4em;
    color: #104c9b;
    margin-bottom: 10px;
    text-align: center;
    transition: color 0.3s;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

p.Main-title {
    font-size: 1.1em;
    color: #0c691e;
    line-height: 1.6;
    text-align: center;
    transition: color 0.3s;
}

.card {
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.card-img-top:hover {
    transform: scale(1.05);
}

.card-body {
    padding: 30px;
}

.card-title {
    font-size: 1.4em;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.6em;
    color: #104c9b;
    line-height: 1.5;
    cursor: pointer;
}

.card-text:hover{
    color: #000;
}

.card-author, .card-date {
    font-size: 1em;
    color: #000;
}

.col-md-4 {
    margin-top: 15px;
}

@media (max-width: 767px) {
    .col-md-4 {
        margin-top: 20px;
    }
}
