<div class="container-fluid">
    <div class="container">
        <div class="row mt-4 mb-4">
            <div class="col-md-6">
                <div class="card">
                    <img src="../../../assets/Service/SoftwareEngineering.jpeg" />
                </div>
            </div>
            <div class="col-md-6">
                <h1>Software Engineering</h1>
                <p>
                    As the world becomes more digitized, every company is transforming into a software company. However,
                    many firms are struggling to leverage this transformation for disruptive business value due to
                    challenges such as diverse customer needs, complex industry regulations, and intricate data privacy
                    and security requirements. To overcome these obstacles, firms need a software engineering partner
                    who not only understands their industry’s domain but also adopts best practices from other
                    industries to develop customer-centric products.
                </p>
                <p>
                    With a diverse range of expertise and a deep understanding of emerging technologies, a software
                    engineering partner can help firms stay ahead of the curve and deliver innovative solutions that
                    meet the needs of their customers. Experience the difference with a partner who can help you unlock
                    the full potential of software engineering.
                </p>
            </div>
        </div>
    </div>
</div>