<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5">
                <h1>Why Us</h1>
                <ul>
                    <li>Multi-Vertical industry expertise including experience in diverse technologies, multi-site
                        project management, and next-gen engineering solutions</li>
                    <li>Pre-built AI, ML based solution accelerators and test automation frameworks to augment
                        go-to-market plans</li>
                    <li>Proven digital capabilities in Cloud, DevOps AI, & ML</li>
                    <li>State-of-the-art research and test labs</li>
                </ul>
            </div>
        <div class="col-md-6 mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img src="../../../assets/Service/WhyUs1.png"/>
                        <h2>10,000+</h2>
                        <p>Technology Experts</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="../../../assets/Service/WhyUs2.png" />
                        <h2>10,000+</h2>
                        <p>Working with 3 out of the top 5 ISVs</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img src="../../../assets/Service/WhyUs3.png" />
                        <h2>360</h2>
                        <p>Relationships with 3 out of the top 5 ISVs</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="../../../assets/Service/WhyUs4.png" />
                        <h2>1000+</h2>
                        <p>Digital Experts</p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
