<app-pagenavbar></app-pagenavbar>
<div class="container-fluid whoWeAre">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-3 mb-3">
                <div class="photo-frame">
                    <img src="../../../assets/AboutUs/System1.jpeg" alt="System1"
                        class="image-left-top animate-slide-up stagger-1" />
                    <img src="../../../assets/AboutUs/System2.jpeg" alt="System2"
                        class="image-right-bottom animate-slide-up stagger-2" />
                </div>
            </div>
            <div class="col-md-6 colData">
                <p class="animate-slide-up stagger-3">WHO WE ARE</p>
                <h1 class="animate-slide-up stagger-4">We specialise in helping our customers digitise their business
                </h1>
                <p class="animate-slide-up stagger-5">Accelerate innovation with world-class tech terms we'll match you
                    to an entire remote team of incredible freelance talent for all your software development needs.</p>
            </div>
        </div>
    </div>
    <div class="container mt-5 split-background">
        <div class="card animate-slide-up stagger-6">
            <div class="icon">
                <i class="fas fa-user"></i>
            </div>
            <h3>Discover</h3>
            <p>
                Web Development
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis
                nobis dolore obcaecati.
            </p>
        </div>
        <div class="card animate-slide-up stagger-7">
            <div class="icon">
                <i class="fas fa-lightbulb"></i>
            </div>
            <h3>Design & Development</h3>
            <p>
                Web Development
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis
                nobis dolore obcaecati.
            </p>
        </div>
        <div class="card animate-slide-up stagger-8">
            <div class="icon">
                <i class="fas fa-book"></i>
            </div>
            <h3>Install & Testing</h3>
            <p>
                Web Development
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis
                nobis dolore obcaecati.
            </p>
        </div>
        <div class="card animate-slide-up stagger-9">
            <div class="icon">
                <i class="fas fa-cloud"></i>
            </div>
            <h3>Project Delivery</h3>
            <p>
                Web Development
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus minima reiciendis
                nobis dolore obcaecati.
            </p>
        </div>
    </div>
</div>