<div class="container-fluid cardcolor mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">
                <img src="../../../assets/ClientCard/happy-clients.svg" class="img-fluid" alt="Happy Clients" />
                <p class="card-text display-6">{{ HappyClients }}+</p>
                <h5 class="card-title mt-3">Happy Clients</h5>
                <h6>Consequuntur quae diredo</h6>
            </div>
            <div class="col-md-4 text-center">
                <img src="../../../assets/ClientCard/complete-projects.svg" class="img-fluid" alt="Happy Clients" />
                <p class="card-text display-6">{{ CompletedProjects }}+</p>
                <h5 class="card-title mt-3">Completed Projects</h5>
                <h6>adipisci atque quia aut</h6>
            </div>
            <div class="col-md-4 text-center">
                <img src="../../../assets/ClientCard/hours-support.svg" class="img-fluid" alt="Happy Clients" />
                <p class="card-text display-6">{{ HoursOfSupport }}+</p>
                <h5 class="card-title mt-3">Hours Of Support</h5>
                <h6>aut commodi quaerat</h6>
            </div>
        </div>
    </div>
</div>
