<div class="container">
    <div class="row mt">
        <div class="col-md-12">
            <h1 class="Main-titel">Team</h1>
            <p class="Main-titel">Lorem ipsum dolor sit amet</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-3">
            <div class="card">
                <img src="../../../assets/Team/team-1.jpg" alt="Team Member">
                <div class="Social-icons">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class="memberDetails">
                <h1 class="memberName">Jhone Bi</h1>
                <h3 class="memberDegignation">Application Manager</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="../../../assets/Team/team-2.jpg" alt="Team Member">
                <div class="Social-icons">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class="memberDetails">
                <h1 class="memberName">Sani Awesome</h1>
                <h3 class="memberDegignation">Social Media</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="../../../assets/Team/team-3.jpg" alt="Team Member">
                <div class="Social-icons">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class="memberDetails">
                <h1 class="memberName">Andrio Willi</h1>
                <h3 class="memberDegignation">Developer</h3>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img src="../../../assets/Team/team-4.jpg" alt="Team Member">
                <div class="Social-icons">
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-facebook"></i>
                    <i class="fab fa-linkedin"></i>
                    <i class="fab fa-instagram"></i>
                </div>
            </div>
            <div class="memberDetails">
                <h1 class="memberName">Afa Jonson</h1>
                <h3 class="memberDegignation">Developer</h3>
            </div>
        </div>
    </div>
</div>
