<div class="container-fluid companyBg">
    <div class="container">
        <div class="row">
            <div class="col-md-6 yearsdata">
                <h1>25+</h1>
                <h6>Years of experiences</h6>
                <p>We run all kinds of <span>IT Services</span> that vow your success</p>
            </div>
            <div class="col-md-6 companyHistory">
                <h1>Our Company History</h1>
                <p>UniVision Software Lab began as a spark, an idea nurtured within the comfort of home by Soumya
                    Upadhyay in 2021. In a world overflowing with analog data, we see an opportunity to bridge the gap.
                    We are a team of passionate innovators, technologists, and information architects dedicated to
                    developing cutting-edge solutions
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid cardcolor">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
                <img src="../../../assets/ClientCard/happy-clients.svg" class="img-fluid" alt="Happy Clients" />
                <p class="card-text display-6">{{ HappyClients }}+</p>
                <h5 class="card-title mt-3">Happy Clients</h5>
                <h6>Consequuntur quae diredo</h6>
            </div>
            <div class="col-md-3 text-center">
                <img src="../../../assets/ClientCard/complete-projects.svg" class="img-fluid" alt="Happy Clients" />
                <p class="card-text display-6">{{ CompletedProjects }}+</p>
                <h5 class="card-title mt-3">Completed Projects</h5>
                <h6>adipisci atque quia aut</h6>
            </div>
            <div class="col-md-3 text-center">
                <img src="../../../assets/ClientCard/happy-clients.svg" class="img-fluid" alt="Happy Clients" />
                <p class="card-text display-6">{{ WebsiteAnalyse }}%</p>
                <h5 class="card-title mt-3">Website Analyse</h5>
                <h6>aut commodi quaerat</h6>
            </div>
            <div class="col-md-3 text-center">
                <img src="../../../assets/ClientCard/hours-support.svg" class="img-fluid" alt="Happy Clients" />
                <p class="card-text display-6">{{ HoursOfSupport }}+</p>
                <h5 class="card-title mt-3">Hours Of Support</h5>
                <h6>aut commodi quaerat</h6>
            </div>
        </div>
    </div>
</div>
<app-team></app-team>
<div class="container-fluid wantToWork">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h6>WANT TO WORK WITH US?</h6>
                <h1>Digitally Transform & Grow Your Business</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua. Ut enim ad minim venium, quis nostrud consectetur voluptatem accusantium doloremque adipiscing elit.</p>
                <div>
                    <button class="callNow">Call Now</button>
                    <button class="contactUs">Contact Us</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-brands></app-brands>