<div class="container">
    <div class="row mt">
        <div class="col-md-12">
            <h1 class="Main-titel">Pricing Plans</h1>
            <p class="Main-titel">Lorem ipsum dolor sit amet</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="cardheding">Basic</h2>
                    <h1 class="cardAmount">$25</h1>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Unlimited GB Space</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>30 Domain Names</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Free SSL</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Daily Backup</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Free Templates</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Free Email</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>10 Databases</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Unlimited Email Address</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Live Support</p>
                    </div>
                    <a href="#" class="btn-Quotes mt-3">Get Quotes</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="cardheding">Standard</h2>
                    <h1 class="cardAmount">$50</h1>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Unlimited GB Space</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>30 Domain Names</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Free SSL</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Daily Backup</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Free Templates</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Free Email</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>10 Databases</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Unlimited Email Address</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Live Support</p>
                    </div>
                    <a href="#" class="btn-Quotes mt-3">Get Quotes</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="cardheding">Premium</h2>
                    <h1 class="cardAmount">$100</h1>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Unlimited GB Space</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>30 Domain Names</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Free SSL</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Daily Backup</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Free Templates</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Free Email</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>10 Databases</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Unlimited Email Address</p>
                    </div>
                    <div class="feature">
                        <i class="fas fa-check-circle"></i>
                        <p>Live Support</p>
                    </div>
                    <a href="#" class="btn-Quotes mt-3">Get Quotes</a>
                </div>
            </div>
        </div>
    </div>
</div>