<div class="maincontaint">
  <nav class="navbar" [class.scrolled]="isScrolled">
    <img src="../../assets/uvlogo.png" alt="Logo" />
    <ul class="nav-links" [class.show]="isNavbarVisible">
      <li>
        <a routerLink="/Home/dashboard" routerLinkActive="active" (click)="onNavItemClick()">Home</a>
      </li>
      <li [ngStyle]="getDropdownStyle()" routerLinkActive="active-section" #rlaCompany="routerLinkActive">
        <a routerLink="#" [class.active]="rlaCompany.isActive || isChildRouteActive(['/Home/AboutUs'])">
          Company <span class="arrow-icon"><i class="fas fa-chevron-down"></i></span>
        </a>
        <div class="megaBox">
          <div class="content">
            <div class="row">
              <header>Company</header>
              <div class="col-md-6">
                <ul class="megalinks">
                  <li>
                    <a routerLink="/Home/AboutUs">
                      <span><i class="fas fa-building"></i></span>
                      About Us
                      <div>
                        <p class="description">
                          Explore the MoEngage story
                        </p>
                      </div>
                    </a>
                  </li>
                  <li><a routerLink="/Home/Careers"><span><i class="fas fa-briefcase"></i></span> Careers
                      <div>
                        <p class="description">
                          Join our team, make an Impact
                        </p>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="col-md-6">
                <ul class="megalinks">
                  <li><a href="#"><span><i class="fas fa-microphone"></i></span> Press Center
                      <div>
                        <p class="description">
                          Grab the latest buzz here
                        </p>
                      </div>
                    </a>
                  </li>
                  <li><a routerLink="/Home/Contactus" routerLinkActive="active"><span><i
                          class="fas fa-phone"></i></span> Contact Us
                      <div>
                        <p class="description">
                          We'd love to heat from here
                        </p>
                      </div>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 aboutData">
                <div class="row">
                  <div class="col-md-6">
                    <p class="aboutDataTitle">Movana #VibeAsOneTribe</p>
                    <p class="aboutDataDetails">Right after Covid, we curated an unforgettable offsite for the dynamic
                      team at MoEngage, bringing
                      together 500+ brilliant minds for an experience like no other.</p>
                  </div>
                  <div class="col-md-6">
                    <div class="imagerow">
                      <img src="../../assets/bgImage2.jpeg" alt="Sample Image" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li><a routerLink="/Home/Service" routerLinkActive="active" (click)="onNavItemClick()">Service</a></li>
      <li><a routerLink="/Home/Internships" routerLinkActive="active" (click)="onNavItemClick()">Internships</a></li>
      <!-- <li><a routerLink="#" routerLinkActive="active" (click)="onNavItemClick()">Team</a></li> -->
      <li><a routerLink="/Home/Contactus" routerLinkActive="active" (click)="onNavItemClick()">News</a></li>
      <li><a routerLink="#" class="btn-Quotes" (click)="onNavItemClick()">Get Quotes</a></li>
    </ul>
    <div class="hamburger" (click)="toggleNavbar()">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">
      <div class="animate-slide-up stagger-1">
        <p class="customText">Delivering Superior Services <span style="color: #1a59ac;">IT Solutions.</span></p>
      </div>
      <div class="animate-slide-up stagger-2">
        <p>You can easily change any design to your own. It is also a highly customizable SEO-friendly template.</p>
      </div>
      <div class="button-group">
        <button class="btn-primary animate-slide-up stagger-3">Learn More</button>
        <button class="btn-secondary animate-slide-up stagger-4">Get Started</button>
      </div>
    </div>
  </div>
  <div class="message-container" *ngIf="showMessage">
    <div class="message-box">
      <span class="message-text">{{ currentMessage }}</span>
      <a class="close-btn" (click)="closeMessage()">×</a>
    </div>
  </div>
  <div class="image-container">
    <p class="image"><img src="../../assets/ChatBox/AliceJohnson.jpeg" class="imageImg" /></p>
  </div>
</div>